@import "bower_components/foundation/scss/foundation";
@import "bower_components/compass-mixins/lib/compass";


$primary-text-color: rgba(28, 9, 104, 1);
$link-hover-color: rgba(255, 255, 255, 0.8);
$placeholder-color: rgba(28, 9, 104, 0.2);

body {
  color: $primary-text-color;
  font-family: 'Source Sans Pro', sans-serif;
}

.svb-background-canvas {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute; 
  top: 0; 
  left: 0; 
  z-index: 0;
  @include filter(blur(2px));
}

#svb-header-wrapper {
  position: relative;
  margin-top: 13rem;
  margin-bottom: 3rem;
  text-align: center;
  opacity: 0;
  @include animation-duration(3s);

  h1 {
    color: $primary-text-color;
    margin: 0;
    font-size: 8rem;
    line-height: 1;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.7),
    0px 0px 4px rgba(0,0,0,0.7);
    @include animation(text-glow 1s infinite alternate);
    @include transition(color 0.5s);
    &:hover {
      color: $link-hover-color;
      cursor: pointer;
    }
    &.final-position {
      @include transition(all 1s);
      @include transform(translate(0rem, -9rem) scale(0.7));
      cursor: auto;
    }
  }
}

#svb-content-wrapper {
  h4 {
    color: $primary-text-color;
    margin: 0;
    font-size: 1.5rem;
  }
  text-align: center;
  opacity: 0;
}

#svb-input-email {
  width: 100%;
  color: $primary-text-color;
  border: 1px solid $primary-text-color;
  @include border-radius(2px);
  background-color: transparent;
  font-weight: 200;
  text-align: center;
  font-size: 1.5rem;
  height: 3rem;
}

::-webkit-input-placeholder {
    color: $placeholder-color;
}
:-moz-placeholder {
    color: $placeholder-color;
}
::-moz-placeholder {
    color: $placeholder-color;
}
:-ms-input-placeholder {
    color: $placeholder-color;
}

a {
  &.svb-button {
    font-family: 'Source Sans Pro', sans-serif;
    color: $primary-text-color;
    border: 1px solid $primary-text-color;
    @include border-radius(2px);
    background-color: transparent;
    font-weight: 200;
    text-align: center;
    width: 100%;

    &:hover {
      color: $primary-text-color;
      background-color: rgba(69, 67, 70, 0.3);
    }
  }
}

@media #{$medium-up} {
  #svb-header-wrapper {
    h1 {
      font-size: 12rem;
    }
  }

  #svb-content-wrapper {
    h4 {
      font-size: 3rem;
    }
  }
  
  #svb-input-email {
    font-size: 2rem;
    height: 4rem;
  }
}
 
@include keyframes(text-glow) {
  from {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.7),
    0px 0px 4px rgba(0,0,0,0.9)
  }
  to {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.7),
    0px 0px 12px rgba(0,0,0,0.9)
  }
}
