@import "bower_components/foundation/scss/foundation";
@import "bower_components/compass-mixins/lib/compass";


$primary-text-color: rgba(28, 9, 104, 1);
$link-hover-color: rgba(255, 255, 255, 0.8);
$placeholder-color: rgba(28, 9, 104, 0.2);

body {
  color: $primary-text-color;
  font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  color: $primary-text-color;
}

p {
  font-size: 0.7rem;
  margin: 0.5rem 0 0.5rem 0;
}

#submitBtn {
  display: none;
}

.svb-background-canvas {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute; 
  top: 0; 
  left: 0; 
  z-index: 0;
  @include filter(blur(2px));
}

#svb-header-wrapper {
  position: relative;
  margin-top: 10rem;
  text-align: center;
  opacity: 0;
  @include animation-duration(3s);

  h1 {
    margin: 0;
    font-size: 6rem;
    line-height: 1;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.7),
    0px 0px 4px rgba(0,0,0,0.7);
    @include animation(text-glow 1s infinite alternate);
    @include transition(color 0.5s);
    &:hover {
      color: $link-hover-color;
      cursor: pointer;
    }
    &.final-position {
      @include transition(all 1s);
      @include transform(translate(0rem, -10rem) scale(0.6));
      cursor: auto;
    }
  }
}

.svb-btn-col {
  padding: 0;
}

#svb-landing-wrapper {
  h4 {
    margin: 0;
    font-size: 1rem;

    &.svb-small {
      font-size: 90%;
    }
  }
  text-align: center;
  opacity: 0;
  margin-top: -5rem;

  .svb-landing-content-wrapper {
    margin-top: 2rem;
  }
}

#svb-invite-wrapper {
  h4 {
    margin: 0;
    font-size: 1rem;

    &.svb-small {
      font-size: 90%;
    }
  }
  h2 {
    margin-top: 0.5rem;
    font-size: 1.2rem;
  }
  text-align: center;
  opacity: 0;
  margin-top: -5rem;
}

#svb-input-email {
  width: 100%;
  color: $primary-text-color;
  border: 1px solid $primary-text-color;
  @include border-radius(2px);
  background-color: transparent;
  font-weight: 200;
  text-align: center;
  font-size: 1rem;
  height: 2rem;
}

::-webkit-input-placeholder {
    color: $placeholder-color;
}
:-moz-placeholder {
    color: $placeholder-color;
}
::-moz-placeholder {
    color: $placeholder-color;
}
:-ms-input-placeholder {
    color: $placeholder-color;
}

a, input {
  &.svb-button {
    font-family: 'Source Sans Pro', sans-serif;
    color: $primary-text-color;
    border: 1px solid $primary-text-color;
    @include border-radius(2px);
    background-color: transparent;
    font-weight: 200;
    text-align: center;
    width: 100%;

    &:hover {
      color: $primary-text-color;
      background-color: rgba(69, 67, 70, 0.3);
    }
  }
}

@media #{$medium-up} {

  p {
    font-size: 1rem;
  }

  #svb-header-wrapper {
    margin-top: 13rem;
    
    margin-bottom: 0;

    h1 {
      font-size: 12rem;
      &.final-position {
        @include transition(all 1s);
        @include transform(translate(0rem, -12rem) scale(0.6));
        cursor: auto;
      }
    }
  }

  #svb-landing-wrapper {
    h4 {
      font-size: 1.5rem;
    }
    margin: -2rem 0 0 0;
  }

  #svb-invite-wrapper {
    h4 {
      font-size: 1.5rem;
    }
    h2 {
      font-size: 2rem;
    }
    margin: -2rem 0 0 0;
  }
  
  #svb-input-email {
    font-size: 2rem;
    height: 4rem;
  }
}
 
@include keyframes(text-glow) {
  from {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.7),
    0px 0px 4px rgba(0,0,0,0.9)
  }
  to {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.7),
    0px 0px 12px rgba(0,0,0,0.9)
  }
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@include keyframes(pulse) {
  0% {
    @include transform(scale(1));
  }

  50% {
    @include transform(scale(1.7));
  }

  100% {
    @include transform(scale(1));
  }
}

.pulse {
  @include animation-name(pulse);
}

@include keyframes(fadeIn) {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  @include animation-name(fadeIn);
}
